.container {
  max-width: 1400px !important;
}

/*------HEADER SEARCH BAR START------*/

.search-input {
  width: 0;
  padding: 0;
  transition: width 0.1s ease-in-out;
}

.search-input.active {
  width: 250px;
  padding: 8px 10px;
  top: 90px;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

/*------HEADER SEARCH BAR END------*/

/* -------HEADER DROPDOWN MENU START----- */

.dropdown {
  position: relative;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
  top: 80px;
  transition: all ease 0.3s;
  right: 6px;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  top: 45px;
  right: 6px;
}

.dropdown li a img {
  transition: all ease 0.3s;
  transform: rotate(90deg);
  height: 7px;
  width: 3px;
}

.instagram-packages-slider .item {
  width: unset !important;
}

/* -------HEADER DROPDOWN MENU END----- */

/* // Initialize Pickadate.js Start-------- */

.picker__select--month,
.picker__select--year {
  padding: 0;
}

.ceck-in-check-out {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.picker__input {
  padding: 9px 0px;
  max-width: 36%;
}

.picker__box {
  padding-top: 20px;
}

/* // Initialize Pickadate.js End-------- */

/* -----Best Tour Packages START---- */
.main-slider .slick-list.draggable {
  height: 588px;
}

.main-slider .slider-item.item {
  transition: all ease 0.3s;
}

.main-slider .slider-item.item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.nav-bar-left-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.nav-bar-left-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 47%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  left: 10px;
  z-index: 9;
}

.nav-bar-left-arrow {
  position: relative;
}

.nav-bar-right-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.nav-bar-right-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 47%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  right: 9px;
}

.main-slider .slick-dots li.slick-active button:before {
  transform: scale(1.4);
}

/* ---Best Tour Packages END--- */

/* ----Special Packages Start--- */
.left-nav-bar.slick-arrow {
  position: absolute;
  z-index: 9;
  top: 233px;
  left: 20px;
  background-color: #e2e2e2;
  color: #b0b0b0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
}

.left-nav-bar.slick-arrow:hover {
  background-color: #ffeed5;
}

.right-nav-bar.slick-arrow {
  position: absolute;
  z-index: 9;
  top: 233px;
  right: 20px;
  background-color: #e2e2e2;
  color: #b0b0b0;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
}

.right-nav-bar.slick-arrow:hover {
  background-color: #ffeed5;
}

.main-special-packages-slider .slick-dots li.slick-active button:before {
  transform: scale(1.4);
}

/* ----Special Packages End---*/

/* -------DOTS START---------- */

.slick-dots li button:before {
  font-size: 35px;
  transition: all ease 0.3s;
  color: #e2941f;
  opacity: 0.3;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li.slick-active button:before {
  color: #e2941f;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  color: #e2941f;
}

.main-slider .slick-dots {
  bottom: -32px;
  display: flex;
  gap: 6px;
  justify-content: center;
}

/* -------DOTS END---------- */

/* -----TESTIMONIAL What Clients Saying Start---- */

.testimonial-slider .slick-dots {
  bottom: -100px;
  display: flex;
  justify-content: center;
  gap: 49px;
}

.inner-testimonial-slider {
  display: flex !important;
}

.testimonial-slider .slick-dots li {
  margin: auto 10px;
  width: 100%;
  display: flex;
  align-items: center;
}

.testimonial-slider .slick-dots li button:hover,
.slick-dots li button:focus {
  transform: none;
}

.main-special-packages-slider ul.slick-dots {
  bottom: -35px;
}

.testimonial-left-nav.slick-arrow {
  position: absolute;
  bottom: -20px;
  right: 53%;
  background-color: #ffffff;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  color: rgba(112, 111, 111, 0.466);
  border-radius: 22px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  z-index: 9;
}

.testimonial-right-nav.slick-arrow {
  position: absolute;
  bottom: -20px;
  right: 40%;
  background-color: white;
  height: 35px;
  width: 35px;
  line-height: 35px;
  color: rgba(112, 111, 111, 0.466);
  text-align: center;
  border-radius: 22px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
}

.testimonial-slider .slick-list.draggable {
  height: 600px;
  transition: all ease 0.3s;
}

.testimonial-slider
  .slick-slide.slick-current.slick-active
  img.client-silder-image {
  transform: scale(1.5);
  transition: all ease 0.3s;
}

/* -----TESTIMONIAL What Clients Saying End---- */

/* <!---------------Instagram slider Start------------> */
.inner-nav-bar-left-arrow {
  position: relative;
}

.inner-nav-bar-left-arrow.slick-arrow {
  position: absolute;
  z-index: 9;
  background: #d9d9d9;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  top: 278px;
  border-radius: 10px;
  cursor: pointer;
}

.inner-nav-bar-right-arrow {
  position: relative;
}

.inner-nav-bar-right-arrow.slick-arrow {
  position: absolute;
  z-index: 9;
  background: #d9d9d9;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  top: 278px;
  right: 0px;
  border-radius: 10px;
  cursor: pointer;
}

/* <!-- ---------------Instagram slider End------------> */

/* <!-- --------------- Our Latest News and Blogs Start-------------------- --> */
.blog-daitales {
  border-radius: 0px 0px 9px 9px;
  background: rgb(0 0 0 / 31%);
  box-shadow: 6px 6px 20px 0px rgba(255, 255, 255, 0.3) inset;
  backdrop-filter: blur(3px);
  display: flex;
  width: 100%;
  height: 203px;
  flex-direction: column;
  transition: all ease 0.3s;
}

.our-latest-news-blog ul.slick-dots {
  bottom: -32px;
}

.our-latest-news-blog .slick-dots li.slick-active button:before {
  transform: scale(1.5);
}

/* <!-- --------------- Our Latest News and Blogs End-------------------- --> */

/* <!-- ---------------Explore the World by Region Start---------- --> */
.packages-card-item {
  padding: 6px 6px 8px 6px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 5px;
}

.box-shadow-custom {
  background: var(--Primary-Soft, #fff6ea);
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.04);
}

/* <!-- ---------------Explore the World by Region End---------- --> */

/* --------Island Paradise Getaways Start--------*/

.island-paradise-getaways-slider .slick-list.draggable {
  height: 450px !important;
}

.island-paradise-getaways-slider-item {
  transition: all ease 0.3s;
}

.island-paradise-getaways-slider-item.item:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.island-paradise-getaways-slider-item.item:hover
  .paradise-Packages-slider-image {
  filter: grayscale(-0);
}

.paradise-Packages-slider-image {
  filter: grayscale(1);
}

.island-paradise-nav-bar-left-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.island-paradise-nav-bar-left-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 42%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  left: 10px;
  z-index: 9;
}

.island-paradise-nav-bar-left-arrow {
  position: relative;
}

.island-paradise-nav-bar-right-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.island-paradise-nav-bar-right-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 42%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  right: 9px;
}

.island-paradise-getaways-slider .slick-dots li.slick-active button:before {
  transform: scale(1.4);
}

.island-paradise-getaways-slider .slick-dots {
  bottom: 0;
}

/* --------Island Paradise Getaways End--------*/

/* <!--------- Journey is Measured in New Friends Start---------> */
.catefories-submenu {
  transition: all ease 0.3s;
}

li.catefories-menu:hover .catefories-submenu {
  opacity: 1;
  visibility: visible;
  top: 50px;
  transition: all ease 0.3s;
}

.catefories-submenu a:hover {
  background-color: #e2941f;
  color: white;
  border-radius: 8px;
  margin-top: 3px;
}

/* <!--------- Journey is Measured in New Friends End---------> */

/* <!-- --------------- our-blog-page-latest-news-blog Start-------------------- --> */

.our-blog-page-latest-news-blog .slick-dots li.slick-active button:before {
  transform: scale(1.4);
}

.our-blog-page-latest-news-blog .slick-dots {
  bottom: -40px;
}

.our-blog-page-nav-bar-left-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.our-blog-page-nav-bar-left-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 43%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  left: 10px;
  z-index: 9;
}

.our-blog-page-nav-bar-left-arrow {
  position: relative;
}

.our-blog-page-nav-bar-right-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.our-blog-page-nav-bar-right-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 43%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  right: 9px;
}

/* <!-- --------------- our-blog-page-latest-news-blog End-------------------- --> */

/* <!-- --------------- Trending News Start-------------------- --> */
.trending-news-image {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 10px;
  transition: all ease 0.3s;
}
.trending-news-image:hover .tranding-svg {
  color: #e2941f;
}

.trending-news-image:hover .tranding-svg svg {
  transform: rotate(-45deg);
}

.tranding-svg svg {
  transition: all ease 0.3s;
}

.tranding-svg {
  transition: all ease 0.3s;
}

.trending-news .slick-dots li.slick-active button:before {
  transform: scale(1.5);
}

.trending-news-image:hover {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.trending-news-nav-bar-left-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.trending-news-nav-bar-left-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 47%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  left: 10px;
  z-index: 9;
}

.trending-news-nav-bar-left-arrow {
  position: relative;
}

.trending-news-nav-bar-right-arrow.slick-arrow:hover {
  background-color: #ffeed5;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.trending-news-nav-bar-right-arrow.slick-arrow {
  height: 40px;
  position: absolute;
  top: 47%;
  width: 40px;
  background-color: #e2e2e2;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  color: #616161;
  cursor: pointer;
  right: 9px;
}
/* <!-- --------------- Trending News End-------------------- --> */

/* <!------ News About Upcoming Tours and Packages  Start------> */

.view-post:hover p svg {
  color: white !important;
}

/* <!------ News About Upcoming Tours and Packages  End------> */

/* <!------ Santorini Start ------> */

.santorini-box {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* <!------ Santorini End ------> */

/* <!---------Package Details Start---------> */

.package-details {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

/* <!---------Package Details End---------> */

/* <!-----Offer Packages Start-----> */
.offer-packages-slider .slick-list.draggable {
  height: 420px;
}

/* <!-----Offer Packages End-----> */
/* div#slick-slide10 {
  width: 400px !important;
} */

/* This for Slider */
.slider-content > div {
  flex: 0 0 auto;
}

/* Swiper Slider */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
